<header>
  <a class="Logo" href="/">
    <span class="Logo-small">Formidable Labs</span>
    <span class="Logo-large">
      <span class="Logo-largeWrap">React Training</span>
    </span>
  </a>

  <nav class="Nav">
    <ul class="NavList BlockList">
      <li class="NavList-cell">
        <a class="NavLink" href="part-1-fundamentals.html">
          <b class="NavLink-head">Part 1</b>
          <span>Fundamentals</span>

          {% if include.thumbs %}
            <img class="NavLink-img" src="./img/part-1.jpg" alt="">
          {% endif %}
        </a>
      </li>
      <li class="NavList-cell">
        <a class="NavLink" href="part-2-building-an-app.html">
          <b class="NavLink-head">Part 2</b>
          <span>Building an App</span>

          {% if include.thumbs %}
            <img class="NavLink-img" src="./img/part-2.jpg" alt="">
          {% endif %}
        </a>
      </li>
      <li class="NavList-cell">
        <a class="NavLink" href="part-3-styles-with-radium.html">
          <b class="NavLink-head">Part 3</b>
          <span>Styles with Radium</span>

          {% if include.thumbs %}
            <img class="NavLink-img" src="./img/part-3.jpg" alt="">
          {% endif %}
        </a>
      </li>
    </ul>
  </nav>
</header>
