{% if include.details %}
  {% assign list_class = 'TocList' %}
{% else %}
  {% assign list_class = 'NavList' %}
{% endif %}

<header>
  <a class="Logo" href="./">
    <span class="Logo-small">Formidable Labs</span>
    <span class="Logo-large">
      <span class="Logo-largeWrap">React Training</span>
    </span>
  </a>

  <nav class="Nav">
    <ul class="{{list_class}} BlockList">
      <li class="{{list_class}}-cell">
        <a class="NavLink" href="part-1-fundamentals.html">
          {% if include.details %}
            <img class="NavLink-img" src="./img/part-1.jpg" alt="">
          {% endif %}

          <div class="NavLink-content">
            <b class="NavLink-head">Part 1: Fundamentals</b>
            <span class="NavLink-subhead">JSX, Props, State &amp; Flux</span>

            {% if include.details %}
              <p class="TocList-description">React from first principles. We get data onto the page with React and JSX, render simple collections, and work with component state. Then we turn to flux and learn to fire actions, update stores, and let components know the application state has changed.</p>
            {% endif %}
          </div>
        </a>
      </li>

      <li class="{{list_class}}-cell">
        <a class="NavLink" href="part-2-building-an-app.html">
          {% if include.details %}
            <img class="NavLink-img" src="./img/part-2.jpg" alt="">
          {% endif %}

          <div class="NavLink-content">
            <b class="NavLink-head">Part 2: Building an Application</b>
            <span class="NavLink-subhead">Client Side CRUD</span>

            {% if include.details %}
              <p class="TocList-description">In part 2, we walk through a sample recipe application with client side CRUD operations, unidirectional data flow, forms and nested collection views.</p>
            {% endif %}
          </div>
        </a>
      </li>

      <li class="{{list_class}}-cell">
        <a class="NavLink" href="part-3-styles-with-radium.html">
          {% if include.details %}
            <img class="NavLink-img" src="./img/part-3.jpg" alt="">
          {% endif %}

          <div class="NavLink-content">
            <b class="NavLink-head">Part 3: Servers &amp; Styles</b>
            <span class="NavLink-subhead">REST APIs with Flux &amp; Styles with Radium</span>

            {% if include.details %}
              <p class="TocList-description">In part 3, we cover working with REST Apis in Flux. We also cover how to style React applications using computed inline styles, a powerful new way to build modern web applications without CSS.</p>
            {% endif %}
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>
