<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="./css/main.css"/>

    <script src="//use.typekit.net/jvm7etp.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <main class="Content">
      {{ content }}
    </main>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
